{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 15%;">Email</th>
        <th scope="col" style="width: 15%;">Celular</th>
        <th scope="col" style="width: 15%;">Sede</th>
        <th scope="col" style="width: 15%;">Grupo</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}